body {
  font-family: Arial;
  margin: 20px;
}

.container {
  display: flex;
  gap: 40px;
}

.products {
  width: 60%;
}

.cart {
  width: 40%;
  border-left: 2px solid black;
  padding-left: 20px;
}

.item {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
  cursor: pointer;
}
header{
  height: 400px;
  width: 100%;
  background-image: url("header_bg.png");
}
header img{
  display: block;
  margin-left: auto;
}
footer{
  text-align: center;
  padding: 15px;
  background-color: #ffe4e5;
  font-family: "Sniglet";
  font-size: 18px;
}
